/* 共通パーツは外に記述 */
.c-sideMenu {
  background-color: #80bfa8;
}

.c-sideMenu__text {
  margin-top: 10px;
}

@media screen and (min-width: 796px) {

  .c-sideMenu {
    width: 300px;
    padding: 20px;
  }

  .c-sideMenu__text {
    font-size: 18px;
  }

}

@media screen and (max-width: 795px) {
  .c-sideMenu {
    height: 100%;
    padding: 40px;
  }

  .c-sideMenu__text {
    font-size: 15px;
    margin-top: 10px;
  }

}