/* 共通パーツは外に記述 */
header {
  padding: 20px 50px;
  background-color: #EBAA1F;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

main {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 25px;
}

footer {
  width: 100%;
  background-color: #33B0BF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-footer__coryright {
  font-size: 16px;
}

@media screen and (min-width: 796px) {

  .l-header__logo {
    width: 100px;
    height: 100px;
  }

  li {
    font-size: 25px;
  }
  
  main {
    display: flex;
  }

}

@media screen and (max-width: 795px) {

  .l-header__logo {
    width: 50px;
    height: 50px;
  }

  li {
    font-size: 20px;
  }

}